# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/

# Android
.gradle/
local.properties
**/android/**.keystore
**/android/**.jks
**/android/bundle
**/android/key.properties

# iOS/macOS
Pods/
.generated/
DerivedData/

# Windows/Linux (This is likely what caused the C++ tag)
**/windows/flutter/
**/windows/runner/
build/windows/

# Secrets
.env