# --- FLUTTER & DART ---
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/

*.g.dart

# --- ANDROID ---
.gradle/
local.properties
**/android/**.keystore
**/android/**.jks
**/android/bundle
**/android/key.properties
# Ignore Gradle build outputs
capture/

# --- DESKTOP (Fixes the C++ Tag Issue) ---
# This hides the C++ runner code from GitHub's language detection
bin/
**/windows/
**/linux/
**/macos/

# --- IDEs & OS ---
.idea/
.vscode/
*.iml
.DS_Store

# --- SECRETS ---
.env
